/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: 'Lato', sans-serif;
  padding: 1rem;
  background-color: white;
}


.element {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: #bbb;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: #FFF;
  background-color: #E0E5DE;
  text-decoration: none;
  border-radius: 0.25em;
  margin-bottom: 2rem;
  font-size: 20px

}

nav a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color:#5F6973;
  transition:color 0.5s;
}

nav a:hover, nav a:focus {
  color:#B1BC9E;
}
 nav a:after{
    content:"";
b    display:block;
    background-color:gray;
    height:2px;
    transform: scale(0);
    transform-origin:left;
    transition: all 1s;
  }

  nav a:hover:after{
    transform: scale(1);
  }
  .icon{
    width:8%;
  }
  .menu{
    display:none;
  } 
  @media screen and (max-width:734px){
    .menu{

      display:block;
    }

    nav{
      display:none;
    }
    nav a{
      display:block;
    }
  }
  .head_icon{
   
    width:100%;
    display:relative;
    margin-bottom: 5%;
  }
  
  .head_icon img{

    margin-left: 2rem;
    float:right;
    width:40px;
    transition:all 0.3s;
  }
  .head_icon img:hover{
    opacity: 0.5;
    
  }
  .icon_4{
    display:absolute;
    max-width: 50px;
   
  }
  /*.......................................................................................*/
  .main{
   float:right;
  display:flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;

  }
  .main_left{
  flex-basis: 40%;
  margin: 2rem;
   
   transition:all 1s;
   padding-bottom: 1rem;

  }
  .main_left img{
    position: relative;
    margin-top: -30%
   z-index: 0;
    width:600px;
 
  }
  .main_word1{
    position: relative;
    z-index: 1;
    margin-left: 40%;
    margin-bottom: -40%;
    margin-top: 20%;    
  }
  
  .main_right{
 padding-left: 5%;
    flex-basis: 20%;
  margin: 0.5rem;
  
   transition:all 1s;
   padding-bottom: 1rem;
 
  }

  .main_right img{
    margin-top: 0;
    margin-left: -10%;

     width:400px;
  }

  .main_word2{
    z-index: 2;
   margin-left: -35%;
    margin-top: 80%;
    margin-bottom: -30%;
    position: relative;   
  }



  .about{
    margin-top: 10%;

     border: solid 2px red;
   float:center;
  display:flex;
  justify-content: center;
  width: 100%;
  
  }
  .about_img{
   flex-basis: 70%;
  
   
   transition:all 1s;
   padding-bottom: 1rem;

  }

  .about_img img{
    width: 100%;
    border: solid 2px red;
     
    
    
   
  }

  .about_text{
    padding-left:2%; 
    width: 100%;
    
    
    flex-basis: 60%;
    
    border: solid 2px red;
    

    white-space: normal;

  }
  .about_text h2 h3 p{
    text-align: right;

  }



/*  .about_text>p {
    padding-left: 150px;
  }*/

@media only screen and (max-width: 734px){

  .about {
  flex-direction: column;
  }

  .about_img {
    padding: 0;
    margin: 0;  
    width:100%;

  }
}

/*...........................................................................................*/
 .second{
  
   float:right;
  display:flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  }
  

  .second_left{

     
  flex-basis: 20%;
  margin: 2rem;
   
   transition:all 1s;
   padding: 2rem;

  }

  .second_left img{
  position: relative;
    margin-top: -30%
   z-index: 0;
    width:600px;
  }

  .second_word1{
  position: relative;
    z-index: 1;
    margin-left: 60%;
    margin-bottom: -40%;
    margin-top: 20%;
  }
  
  .second_right{
    
  
    flex-basis: 40%;
  margin: 0.5rem;
  
   transition:all 1s;
   padding-bottom: 1rem;
   margin-bottom: 100px;
   
  }
  .second_right img{
   overflow: hidden;
    margin-top: 50px;
   


     width:500px;
  }

  .second_word2{
    z-index: 2;
    
    margin-top: 100px;
    margin-bottom: -25%;
    margin-left: -45%;

position: relative;
    
  }
  /*...........................................................................................*/
 
  @media only screen and (max-width: 734px){
  .main{
     
    flex-direction: column;
  }
  .second{
    flex-direction: column;
  }
  .main_left{
    flex-basis: 50%;
    margin: 0;
    padding: 0;
  }
  .main_left img{
     
    width:100%;
  }
  .main_right img{
    
    padding: 0;
    margin: 0;
    
    width:100%;}
  .main_word1 {

    margin: 30% 0 -60% 0;
  }
   .main_left img{width:100%;}

.main_right{
  margin: 0;
    padding: 0;

}
  .main_word2{
    
    margin: 20% 0 -60% 0;

  }


/*..........................*/
.second_left{
    flex-basis: 50%;
    margin: 0;
    padding: 0;
  }
  .second_left img{
    
    width:100%;
  }
  .second_right img{
   
    padding: 0;
    margin: 0;
    
    width:100%;}
  .second_word1 {

    margin: 20% 0 -60% 0;
  }
   .second_left img{width:100%;}

.second_right{
  margin: 0;
    padding: 0;

}
  .second_word2{
    
    margin: 20% 0 -60% 0;

  }


}
.main h2{
  text-align: center;
  text-decoration: underline;

}
.second h2{
  text-align: center;
  text-decoration: underline;

}
.main h3{
  text-align: center;
}
.second h3{
  text-align: center;
}

.main h1:hover{
  color:#bbb;

}
.second h1:hover{
  color:#bbb;

}
.main a{
  color:black;
}
.second a{
  color:black;
}

.third {
  margin-top: 10rem;
  display:flex;
justify-content: center;
 
  width:100%;


}
.third p{
  font-weight: 20px;

   justify-content: center;
  display:inline;
  margin: 2rem;
}
.content{
  text-align: center；
  margin:2rem;
}
textarea{
  width:100%;
  height:200px;

}


   
h1{
  text-align: center;
   transition:all 0.5s;
  font-size: 50px;
}
h2 {
  
  font-weight: bold;
}

h3 {
  font-size:20px;
  font-weight: bold;
  margin-top: 1rem;
  color: #6d7d8c;
}
h4{
  font-weight: bold;
}

p {
  margin-bottom: 0em;
}


code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/*Styling for in-text link*/
.First_Line h4{
  display:inline;
}
.First_Line :after{
  content: "        |        ";
}
.First_Line{
   margin-bottom: 1rem;

}

.in-text-link{
  color: #9e8b7d;
  text-decoration:none;
  transition: color 0.1s ease-out;
  text-shadow:0px -1px 0px #CFC8BD;
}

.in-text-link:hover, .in-text-link:focus {
  text-decoration:underline;
  color: #bdaa9d;
}

/*Styling for navigation button*/
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #FFF;
  background-color: #8f997f;
  text-decoration: none;
  border-radius: 0.25em;
  transition-property: background-color; 
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #B2BD9F;
}

/*Styling for submition/ reset button*/
.btn-submit, .btn-reset{ 
  border-radius:0.25em;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  padding:6px 24px;
  text-decoration:none;
  background-color: #5F6973;
  border-width: 0px;
}

.btn-submit:hover,.btn-reset:hover {
  background-color:#a1b5c9;
}

.btn-submit:hover, .btn-reset:active {
  position:relative;
  top:1px;
}


/*Styling for radio button*/
.radio-button{
  color: #719FDB;
  font-kerning: 1.1em;
  margin-right: 10px;
  padding: 5px;
}


.radio-button:hover {
  color: #274782;
  font-weight: bolder;
}

.radio-button input{
  width: 30px;
}


/*Styling for text input*/

input[type=text] {
  width: 20%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: 0.5s;
  outline: none;
  border-radius: 0.15em;
}

input[type=text]:focus {
  border: 1px solid #69737D;
}

label {
  font-family: "Lato";
  font-size: 18px;
}

.confirm{
  border-radius:0.25em;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  padding:6px 24px;
  text-decoration:none;
  background-color: #5F6973;
  width:50px;
}

.confirm:hover {
  background-color:#a1b5c9;
}


/*Styling for image link*/
.image_link{
  padding: 40px;
}
.image_link:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}

/* 
  TEXT ELEMENTS -------------------
*/


/*Headings-------------*/
.heading1{
  font-size: 35px;
  font-weight: bolder;
}

.heading2{
  font-size: 30px;
}

.heading3{
  font-size: 25px;
  font-weight:lighter;
}

.heading4{
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}


/*Paragraphs-------------*/
.paragraphs {
  padding: 2em;
  border-radius: .3em;
  background-color: #ffffff;
  border: 1.5px solid #E5E7DA;
  box-shadow: 3px 3px 3px #B1BC9E;
}


/*Bullet list-------------*/

.blist ul{
  font-family:"Lato"; 
  border: 1px solid red;
}

/*
  Numbered lists----------------
*/
.nlist {
  display:flex;
  padding: 10px;
  background-color: #ffffff;
  line-height: 2em;
  border: 2px solid #00000030;
  border-radius: 0.2em;
  width:20%;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/*
  Navigation bar----------------
*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B1BC9E;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  font-family: "Lato";
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color:  #F0F0F0;
  transition: 0.3s;
}


/*
  Product lisitng-----------------
*/

.list{
  position: fixed;

  width:24%;
  height:52%;
  padding-left: 1rem;
border-left-style:solid; 
border-left-color:#bbb;
border-left-width:0.5rem;
white-space: nowrap;

}
.list h1{
  
   text-align: center;
  font-family: "Lato";
  font-size: 30px;
  font-weight: bold;
  margin:0.4rem 0;
  margin-bottom: 2rem;
   overflow:hidden;
  

}
.list h2{
  display:flex;
  text-align:left;
  
  
  font-family: "Lato";
  font-size: 24px;
  font-weight: lighter;
  margin:0.4rem 0;
  border-bottom-width:5px;
  border-bottom-style: solid;
  border-bottom-color:#F8F7F2;
  transition:all 1s ;
  

 white-space: normal;

}


.list a{

  text-decoration: none;
  color:black;
}
.list a:after{
    content:"";
    display:block;
    background-color:gray;
    height:2px;
    transform: scale(0);
    transform-origin:left;
    transition: all 1s;
  }

  .list a:hover:after{
    transform: scale(1);
  }
@media only screen and (max-width: 734px){
  .list h1{
text-align: center;
  font-size: 8px;
  }
  .list h2{
    border:solid 2px red;
   text-align: left;
    white-space: pre-line;
   
  font-size: 6px;
 
  }
  .list{
    border:solid 2px red;
    margin: 0;
    padding: 0;
  }


}
.list_title{
   float:right;
  display:flex;
  
  width: 70%;
  margin-bottom:0;
 
   
}
.list_title h3{
  padding-left: 1rem;
  text-align:left;
  font-size: 30px;
  color:black;
  padding-bottom: 0;
  transition:color 1s;
}
.list_title h3:hover{
  color:#B1BC9E;
}
.list_line{
  float:right;
  width:70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom-style:solid;
  border-bottom-width:0.2rem;
  border-color: #E3DFD4;

}

.grid{

  float:right;
  display:flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 2rem;
  

}


.grid>div{

  flex-basis: 40%;
  margin: 0.5rem;
   overflow: hidden;
   transition:all 1s;
   padding-bottom: 1rem;

}

.grid>div:hover{
  box-shadow: 0px 3px 3px #bbbbbb; 
}
.pic{
  overflow: hidden;
  margin-bottom: 0.5rem;
}



.grid img{
  width:100%;

  transform:scale(1);
  transition:transform 1s;
  
}
.grid img:hover{
  transform:scale(1.2);

}


.grid h1{
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-weight: bold;
  margin:0.4rem 0;
}
.grid h2{
  text-align: center;
  font-family: "Lato";
  font-size: 15px;
  font-weight: lighter;
  margin:0.4rem 0;
}

@media only screen and (max-width: 734px){
  .grid{
    flex-direction: column;
  }

}
  


/*
  Payment form-----------------
*/

.payment {
  background-color: #ffffff;
  padding: 20px;
  border: 1.5px solid #E5E7DA;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 3px 3px 3px #B1BC9E; 
}

.payment input{
  width:100%;
}

.payment-form1 input{
  width: 30px;
}

.pay-label {
  font-size: 16px;
}

/*
  Checkout cart-----------------
*/

.cart-item {
  background-color: #ffffff;
  padding: 5px 20px 15px 20px;
  border: 1.5px solid #E5E7DA;
  border-radius: 0.2em;
  display: flex;
  box-shadow: 3px 3px 3px #B1BC9E; 
}

.cart-left {
  flex: 80%;
}


.cart-right {
  flex: 10%;
}

/*
  ART DIRECTION-----------------
*/
/*
  Color palettes-----------------
*/

.color-palettes {
  display: flex;
  padding: .5em;
  background-color: #FFF;

}

.color-palettes>div {
  flex-basis: 20%;
  text-align: center;
  padding: 100px 0 ;
}

.color-palettes>div:nth-of-type(1){
  background-color: #E5E7DA;
}

.color-palettes>div:nth-of-type(2){
  background-color: #E3DFD4;
}

.color-palettes>div:nth-of-type(3){
  background-color: #B1BC9E;
}

.color-palettes>div:nth-of-type(4){
  background-color: #E2E7ED;
}

.color-palettes>div:nth-of-type(5){
  background-color: #5F6973;
}

.font>h3 {
  font-size: 30px;
  font-kerning: 1em;
  color: #465E4A;
}

.font {
  display: flex;
  justify-content: space-between;
  margin-right: 50em;
}



/*
  Branding ideas-----------------
*/
.branding>h4 {
  color: #919c7e;
  font-style: italic;
}

/*--------------------------detail page
*/
.cart-btn {
  display: inline-block;
  padding: 0.5rem;
  color: #FFF;
  background-color: #8f997f;
  text-decoration: none;
  border-radius: 0.25em;
  transition-property: background-color; 
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.cart-btn:hover {
  background-color: #B2BD9F;
}

/*--------------------------contact page
*/
.contact_right{
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border: 1.5px solid #E5E7DA;
  border-radius: 0.2em;
 box-shadow: 3px 3px 3px #B1BC9E; 
 background: #E5E7DA;
}

.contact_right h4{
  color: #5F6973;
}

.contact h3 {
  color: black;
}

.contact_img img{
  width: 80%;
  transition:all 1s;

}
.contact_img img:hover{
  transform:scale(1.2);
}
.contact_img{
  overflow: hidden;

}

.contact_form_left{
  background-color: #ffffff;
  padding: 20px;
  border: 1.5px solid #E5E7DA;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 3px 3px 3px #B1BC9E; 
}


.contact{
  display:flex;
  justify-content: space-between;
}











